.parent {
    -fx-background-color: rgba(0, 0, 0, 0.95);
    -fx-background-size: cover;
    -fx-background-position: center;

}

.VBox {
    -fx-background-color: rgba(37, 37, 37, 0.78);
    -fx-background-radius: 30px;
    -fx-border-color: rgba(0, 0, 0, 0.8);
    -fx-border-radius: 30px;
    -fx-border-width: 2px;
}

.imageView {
    -fx-background-radius: 30px;
}

.text-field {
    -fx-background-color: rgba(19, 19, 19, 0.95);
    -fx-background-radius: 10px;
    -fx-border-color: rgba(0, 0, 0, 0.8);
    -fx-border-radius: 10px;
}

.PasswordField {
    -fx-background-radius: 10px;
    -fx-border-color: rgba(0, 0, 0, 0.8);
    -fx-border-radius: 10px;
}

.button {
    -fx-background-color: rgb(99, 101, 220);
    -fx-background-radius: 10px;
    -fx-border-color: rgba(0, 0, 0, 0.8);
    -fx-border-radius: 10px;
}

.button:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 4, 4);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.check-box {

}

.check-box:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 4, 4);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-color: rgb(99, 101, 220);

}

.clickable-label {

}

.clickable-label:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 4, 4);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}