.messageHbox {
    -fx-background-color: rgb(32, 32, 32);
    -fx-border-width: 0 0 3px 0;
    -fx-border-color: #131313F2;
}

.messageHbox:hover {
    -fx-cursor: hand;
    -fx-background-color: rgba(19, 19, 19, 0.95);
}